*.exe
*.dll
*.obj
*.ilc
*.ild
*.ilf
*.ils
*.pch
*.tds
*.#0*
*.map
__history/**/*
__recovery/**/*
libgit2/**/*
Win32/**/*
Win32/*.*
Debug/**/*
Debug_Build/**/*
Release_Build/**/*
CMake/*
SEMon/Win32/*
SEMon/__history/*
SEMon/__recovery/*
