*.exe
*.dll
*.obj
*.ilc
*.ild
*.ilf
*.ils
*.pch
*.tds
*.#0*
*.map
*.vlb
__history/**/*
__recovery/**/*
libgit2/**/*
Win32/**/*
Win32/*.*
Debug/**/*
Debug_Build/**/*
Release_Build/**/*
CMake/*
SEMon/Win32/*
SEMon/__history/*
SEMon/__recovery/*
__recovery/
__history/
Idan/Data/008067_190313_145354.DAD-008394_190327_055354.DAD.rar
Idan/Data/008067_190313_145354.DAD-008394_190327_055354.DAD.txt
Idan/Data/008386_190326_215354.DAD
Idan/Data/WaterTemps.db
Idan/Data/WaterTemps.sqlite
Idan/Data/samples.DAD.txt
Idan/Data/samples.DAD.csv